{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% tailwind_css %}
</head>

<body>
    <!-- Navbar Start -->
    {% block section %}
    {% include "component/navbar_unlog.html" %}
    {% endblock %}
    <!-- Navbar End -->
    <!-- Content Start -->
    <div
        class="absolute top-1/2 left-1/2 h-full w-full rounded-full bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] blur-2xl from-cyan-50 to-transparent transform -translate-x-1/2 -translate-y-1/2 z-0">
    </div>
    <div class="flex flex-row justify-center ">
        <div class="mt-36 flex justify-center items-center flex-col z-10">
            <div class="font-bold text-6xl z-10">
                Discover <span class="bg-gradient-to-r from-cyan-400 to-sky-600 bg-clip-text text-transparent ">
                    &lt;/GitHub&gt;,</span> <br> Compare with Ease
            </div>
            <div class="mt-16 font-bold text-4xl z-10">
                Welcome Back
            </div>
            <div class="mt-1 text-lg text-black font-extralight z-10">
                Sign in to your GitTrackr account
            </div>
            <a href="{% url 'social:begin' 'google-oauth2' %}"><button id="signGoogle"
                    class="mt-12 flex items-center rounded-xl border-solid border-black border-2 bg-white z-10 px-8 h-14 w-96"
                    type="button">
                    <img class="h-10 w-10 left-1" src="{% static 'images/google_icon.png' %}" alt="">
                    <div class="ml-14 text-black font-normal text-lg pb-1">
                        Sign In With Google
                    </div>
                </button></a>
            <div class="mt-8 text-base font-light text-grey-500 text-center">
                By clicking Sign In above, you acknowledge that you have <br>
                read and agree to GitTrackr <span class="underline"><a href="#">Terms</a></span> and <span
                    class="underline"><a href="#">Privacy Policy</a></span>
            </div>
        </div>
    </div>
    <!-- Content End -->

    <script>

    </script>
</body>

</html>