{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Repository</title>
    {% tailwind_css %}
</head>

<body class="overflow-x-hidden">
    <div
        class="absolute h-96 w-1/2 rounded-sm bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-cyan-200 to-transparent blur-3xl z-0 -translate-x-1/4 -translate-y-1/3 top-1/4 left-1">
    </div>
    <!-- Navbar Start -->
    {% block section %}
    {% include "component/navbar_logged.html" %}
    {% endblock %}
    <!-- Navbar End -->

    <!-- Content Start -->
    <div class="relative flex flex-row z-10 py-40 justify-center items-center">
        <div class="bg-white mx-28 border-2 rounded-xl">
            <div class="border-b-2 px-4 py-4">
                <h1 class="text-black text-xl font-bold font-['Inter']">Kelas PPL I2</h1>
            </div>
            <div class="flex items-center px-4 py-4">
                <svg width="44" height="53" viewBox="0 0 54 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.66992 49.8131V13.149C9.66992 11.7599 10.1364 10.4276 10.9669 9.44535C11.7973 8.46309 12.9236 7.91125 14.098 7.91125H43.7658C44.1181 7.91125 44.456 8.0768 44.7051 8.37148C44.9542 8.66616 45.0942 9.06583 45.0942 9.48257V43.8264"
                        stroke="black" stroke-width="1.5" stroke-linecap="round" />
                    <path d="M34.0242 44.5753V57.6696L39.5592 53.4795L45.0942 57.6696V44.5753" stroke="black"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M14.0979 44.5753H45.0941" stroke="black" stroke-width="1.5" stroke-linecap="round" />
                    <path
                        d="M14.098 44.5753C12.9236 44.5753 11.7973 45.1271 10.9669 46.1094C10.1364 47.0917 9.66992 48.4239 9.66992 49.813C9.66992 51.2022 10.1364 52.5344 10.9669 53.5167C11.7973 54.4989 12.9236 55.0508 14.098 55.0508H26.275"
                        stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="px-2 text-center text-black text-xl font-semibold font-['Montserrat']">Add repository</p>
            </div>
            <!-- Input Repository -->
            <div class="py-4">
                <input type="text" placeholder="ex. DjangoEcommerce" id="txt" oninput="getValue()"
                    class="w-96 mx-4 border-2 rounded-xl">
                <div class="flex bg-white shadow-lg mx-4 justify-between items-center" id="clickableDiv">
                    <p id="result" class="mx-4 text-black text-md font-normal font-['Montserrat']"></p>
                    <svg id="mySvg" width="18" height="19" viewBox="0 0 18 19" fill="none"
                        xmlns="http://www.w3.org/2000/svg" class="mx-4 my-4" style="display: none;">
                        <path
                            d="M17.1128 10.9382H9.86697V18.962H7.45168V10.9382H0.205811V8.26362H7.45168V0.239868H9.86697V8.26362H17.1128V10.9382Z"
                            fill="black" />
                    </svg>
                </div>
            </div>
            <div class="border-t-2 my-4 px-4 justify-center items-center">
                <p class="my-4 mx-2 text-black text-xs font-extralight font-['Montserrat']">maks. 5 repository</p>
                <div id="permanentValuesContainer"
                    class="grid gap-2 grid-cols-2 col-auto row-auto auto-cols-max auto-rows-max"></div>
            </div>
            <!-- Input Repository -->
            <div class="flex px-8 py-4 border-t-2 justify-between">
                <button type="button" class="bg-white border py-2 px-6 rounded-2xl border-black">
                    <p class="text-center text-black text-lg font-semibold font-['Montserrat']">
                        Cancel
                    </p>
                </button>
                <button type="button" class="bg-black border py-2 px-4 rounded-2xl border-black">
                    <p class="text-center text-white text-lg font-semibold font-['Montserrat']">
                        Compare
                    </p>
                </button>
            </div>
        </div>
        <div class="items-center">
            <div class="font-bold text-6xl">
                Discover <span class="bg-gradient-to-r from-cyan-400 to-sky-600 bg-clip-text text-transparent ">
                    &lt;/GitHub&gt;,</span> <br> Compare with Ease
            </div>
        </div>
        <div class="flex">
        </div>
    </div>
    <!-- Content End -->
    <div
        class="absolute h-96 w-1/2 rounded-lg bg-[radial-gradient(circle_at_center,_var(--tw-gradient-stops))] from-indigo-400 to-transparent blur-3xl z-0 translate-x-1/2 translate-y-1/2 right-1 bottom-1">
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const dropdownButton = document.querySelector(".group");
            const dropdownMenu = document.querySelector(".absolute");

            dropdownButton.addEventListener("click", function () {
                dropdownMenu.classList.toggle("hidden");
            });
        });

        var containerCount = 0;
        var permanentValues = [];

        function clearInputValue() {
            document.getElementById('txt').value = '';
        }

        function getValue() {
            var input = document.getElementById('txt').value;
            var svg = document.getElementById('mySvg');
            var result = document.getElementById('result');
            result.textContent = input;

            if (input.trim() === "") {
                svg.style.display = "none";
            } else {
                svg.style.display = "block";
            }
        }


        document.getElementById('clickableDiv').addEventListener('click', function () {
            showPermanentValue();
        });

        function showPermanentValue() {
            if (containerCount < 5) {
                var result = document.getElementById('result');
                var permanentValue = document.createElement('p');
                permanentValue.textContent = result.textContent;

                containerCount++;
                var permanentValuesContainer = document.createElement('div');
                permanentValuesContainer.id = "permanentValuesContainer" + containerCount;
                permanentValuesContainer.className = "flex py-2 px-4 bg-white shadow-xl rounded-lg w-fit items-center justify-between";

                var deleteButton = document.createElement('div');
                deleteButton.innerHTML = `<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5563 1.75736L7.31371 6L11.5563 10.2426L10.1421 11.6569L5.89949 7.41421L1.65685 11.6569L0.242641 10.2426L4.48528 6L0.242641 1.75736L1.65685 0.343146L5.89949 4.58579L10.1421 0.343146L11.5563 1.75736Z" fill="black"/>
            </svg>`;
                deleteButton.className = "your-class-name"; // Ganti your-class-name dengan nama kelas Anda
                deleteButton.addEventListener('click', function () {
                    deletePermanentValue(permanentValue, permanentValuesContainer.id);
                });

                // Menambahkan style untuk SVG
                permanentValuesContainer.style.width = "190px";
                deleteButton.style.display = "flex";
                deleteButton.style.alignItems = "start";
                deleteButton.style.justifyContent = "space-between";


                permanentValuesContainer.appendChild(permanentValue);
                permanentValuesContainer.appendChild(deleteButton);
                document.getElementById('permanentValuesContainer').appendChild(permanentValuesContainer);
                permanentValues.push(permanentValue.textContent);

                if (containerCount === 5) {
                    document.getElementById('clickableDiv').removeEventListener('click', showPermanentValue);
                }
            }
            clearInputValue();
        }

        function deletePermanentValue(valueElement, containerId) {
            valueElement.parentNode.remove();
            var index = permanentValues.indexOf(valueElement.textContent);
            if (index > -1) {
                permanentValues.splice(index, 1);
            }
            containerCount--;

            if (containerCount < 5) {
                document.getElementById('clickableDiv').addEventListener('click', showPermanentValue);
            }
        }

    </script>
</body>

</html>