{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Repository</title>
    {% tailwind_css %}
    <style>
        #loadingSpinner {
            z-index: 10;
        }
        .spinner {
            border: 4px solid rgba(255, 9, 9, 0.587);
            border-radius: 50%;
            border-top: 4px solid #fff;
            width: 50px;
            height: 50px;
            -webkit-animation: spin 1s linear infinite; /* Safari */
            animation: spin 1s linear infinite;
            position: fixed;
        }
    
        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }
    
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>

<body class="overflow-x-hidden">

    {% block section %}
    {% include "component/navbar_logged.html" %}
    {% endblock %}

    <!-- Loading Spinner -->
    <div id="loadingSpinner" class="fixed inset-0 bg-gray-700 bg-opacity-50 flex justify-center items-center hidden ">
        <div class="spinner"></div>
    </div>

    <div class="relative flex flex-row py-40 justify-center">

        <div class="bg-white mx-28 border-2 rounded-xl h-fit">
            <div class="border-b-2 px-4 py-4">
                <h1 class="text-black text-xl font-bold">{{ folder.Folder_Name }}'s Folder</h1>
            </div>

            <div class="flex items-center px-4 py-4">
                <!-- SVG Icon -->
                <svg width="44" height="53" viewBox="0 0 54 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.66992 49.8131V13.149C9.66992 11.7599 10.1364 10.4276 10.9669 9.44535C11.7973 8.46309 12.9236 7.91125 14.098 7.91125H43.7658C44.1181 7.91125 44.456 8.0768 44.7051 8.37148C44.9542 8.66616 45.0942 9.06583 45.0942 9.48257V43.8264"
                        stroke="black" stroke-width="1.5" stroke-linecap="round" />
                    <path d="M34.0242 44.5753V57.6696L39.5592 53.4795L45.0942 57.6696V44.5753" stroke="black"
                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M14.0979 44.5753H45.0941" stroke="black" stroke-width="1.5" stroke-linecap="round" />
                    <path
                        d="M14.098 44.5753C12.9236 44.5753 11.7973 45.1271 10.9669 46.1094C10.1364 47.0917 9.66992 48.4239 9.66992 49.813C9.66992 51.2022 10.1364 52.5344 10.9669 53.5167C11.7973 54.4989 12.9236 55.0508 14.098 55.0508H26.275"
                        stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <!-- Repository Title -->
                <p class="px-2 text-center text-black text-xl font-semibold">Add repository</p>
            </div>

            <!-- Input Repository Form -->
            <div class="py-4 px-2 w-[450px]">
                <form method="post" action="{% url 'search_repository' %}">
                    {% csrf_token %}
                    {{ form.repository_name }}
                    <input type="submit" value="Submit"
                        class="m-4 py-2 px-4 border border-black rounded-xl hover:bg-gray-100 hover:border-gray-500">
                </form>
            </div>

            <!-- Maximum 5 Repositories Display -->
            <div class="border-t-2 my-4 px-4 justify-center items-center">
                <p class="my-4 text-black text-xs font-extralight font-['Montserrat']">Repositori dalam Folder:</p>
                <div id="repositoryContainer" class="grid gap-2 grid-cols-2 col-auto row-auto auto-cols-max auto-rows-max">
                    {% for repository in save_repository %}
                    <div class="flex justify-between items-center">
                        <p>{{ repository.Repository_Name }}</p>
                        <!-- Formulir untuk menghapus repositori -->
                        <form method="post" action="{% url 'delete_repository' repository.RepositoryID %}">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-500 text-white px-3 py-1 rounded-full">x</button>
                        </form>
                    </div>
                    {% empty %}
                    <p>Tidak ada repositori dalam folder ini.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Button Actions -->
            <div class="flex px-8 py-4 border-t-2 justify-between">
                <button type="button" class="bg-white border py-2 px-6 rounded-2xl border-black">
                    <p class="text-center text-black text-lg font-semibold">Cancel</p>
                </button>
                <button type="button" class="bg-black border py-2 px-4 rounded-2xl border-black">
                    <a href="{% url 'compare_repositories' folder.FolderID %}"
                        class="text-center text-white text-lg font-semibold">Compare</a>
                </button>
            </div>
        </div>

        <!-- Repository List -->
        <div>
            <ul class="grid grid-cols-2">
                {% for repository in repositories %}
                <li class="py-2 mx-2">
                    <div class="bg-white shadow-lg rounded-lg p-2">
                        <strong class="text-md py-1 px-2">{{ repository.repository_name }}</strong><br>
                        <strong class="text-xs py-1 px-2">Owner:</strong><br>
                        <strong class="text-xs py-1 px-2">{{ repository.repository_owner }}</strong>
                        <form method="post" action="{% url 'save_repository' %}">
                            {% csrf_token %}
                            <input type="hidden" name="repository_name" value="{{ repository.repository_name }}">
                            <input type="hidden" name="repository_owner" value="{{ repository.repository_owner }}">
                            <input type="hidden" name="repository_url" value="{{ repository.html_url }}">
                            <button type="submit"
                                class="my-2 py-1 px-2 border text-xs border-black rounded-lg hover:bg-gray-100 hover:border-gray-500 add-to-folder-button">Add
                                to My Folder</button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Display Messages -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>

    <!-- JavaScript -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
                const dropdownButton = document.querySelector(".group");
                const dropdownMenu = document.querySelector(".absolute");

                dropdownButton.addEventListener("click", function () {
                    dropdownMenu.classList.toggle("hidden");
                });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const compareButton = document.querySelector('a[href*="compare_repositories"]');
            const loadingSpinner = document.getElementById('loadingSpinner');

            compareButton.addEventListener('click', function() {
                loadingSpinner.classList.remove('hidden');
            });
        });
    </script>
</body>
</html>