{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Detail Repository</title>
  {% tailwind_css %}
</head>

<body>
  <!-- Navbar Start -->
  {% block section %}
  {% include "component/navbar_logged.html" %}
  {% endblock %}
  <!-- Navbar End -->
  <!-- Content Start -->

  <div class="mt-12 mx-auto w-4/5">
    <div class="text-poppins text-gray-500 font-semibold text-sm">
      <a href="#" class="text-sm font-normal text-gray-700 hover:text-gray-900"><i
          class="fa fa-arrow-left text-base"></i> back </a>
      <div class="text-gray-700 font-bold text-xl mt-4">
        GitTrackr
      </div>
      <div class="text-black font-normal text-sm mt-2">
        own by PPL GACOR
      </div>
      <div class="bg-gray-300 h-px my-7 w-full"></div>
    </div>
  </div>

  <!-- Sidebar Start -->

  <div style="margin-top: 39px; margin-left: 145px; display: flex;">
    <div style="width: 235px;">
      <div style="font-family: 'poppins'; font-size: 20px; font-weight: 600; word-wrap: break-word;">
        About
      </div>
      <div
        style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 500; word-wrap: break-word; margin-top: 20px;">
        A Github Programming Contribution Measurement Tool 🚀
      </div>
      <div style="width: 100%; height: 1px; border: 1px #A3A3A3 solid; margin-top: 17px;"></div>
      <div
        style="font-family: 'poppins'; font-size: 20px; font-weight: 600; word-wrap: break-word; margin-top: 15px; margin-bottom: 17px;">
        Language
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 7px; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
          <img style="width: 27px; height: 27px; margin-right: 13px;" src="{% static 'images/css.png' %}" />
          <div
            style="color: black; font-size: 18px; font-family: 'Montserrat', sans-serif; font-weight: 600; word-wrap: break-word">
            CSS
          </div>
        </div>
        <div style="text-align: right;">20%</div>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 7px; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
          <img style="width: 27px; height: 27px; margin-right: 13px;" src="{% static 'images/html.png' %}" />
          <div
            style="color: black; font-size: 18px; font-family: 'Montserrat', sans-serif; font-weight: 600; word-wrap: break-word">
            HTML
          </div>
        </div>
        <div style="text-align: right;">30%</div>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 7px; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
          <img style="width: 27px; height: 27px; margin-right: 13px;" src="{% static 'images/js.png' %}" />
          <div
            style="color: black; font-size: 18px; font-family: 'Montserrat', sans-serif; font-weight: 600; word-wrap: break-word">
            JavaScript
          </div>
        </div>
        <div style="text-align: right;">10%</div>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 7px; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
          <img style="width: 27px; height: 27px; margin-right: 13px;" src="{% static 'images/python.png' %}" />
          <div
            style="color: black; font-size: 18px; font-family: 'Montserrat', sans-serif; font-weight: 600; word-wrap: break-word">
            Python
          </div>
        </div>
        <div style="text-align: right;">40%</div>
      </div>
      <div style="width: 100%; height: 1px; border: 1px #A3A3A3 solid; margin-top: 19px; margin-bottom: 15px;"></div>
      <div style="font-family: 'poppins'; font-size: 20px; font-weight: 600; word-wrap: break-word; color: black;">
        File Size
      </div>
      <div style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 400; word-wrap: break-word;">
        Size
      </div>
      <div style="width: 100%; height: 1px; border: 1px #A3A3A3 solid; margin-top: 19px; margin-bottom: 15px;"></div>
      <div style="font-family: 'poppins'; font-size: 20px; font-weight: 600; word-wrap: break-word; color: black;">
        Date Created
      </div>
      <div style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 400; word-wrap: break-word;">
        Size
      </div>
      <div style="width: 100%; height: 1px; border: 1px #A3A3A3 solid; margin-top: 19px; margin-bottom: 15px;"></div>
      <div style="font-family: 'poppins'; font-size: 20px; font-weight: 600; word-wrap: break-word; color: black;">
        Topics
      </div>
      <div style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 400; word-wrap: break-word;">
        Size
      </div>
      <div style="width: 100%; height: 1px; border: 1px #A3A3A3 solid; margin-top: 19px; margin-bottom: 15px;"></div>
      <div style="font-family: 'poppins'; font-size: 20px; font-weight: 600; word-wrap: break-word; color: black;">
        Branch
      </div>
      <div style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 400; word-wrap: break-word;">
        Size
      </div>
      <div style="width: 100%; height: 1px; border: 1px #A3A3A3 solid; margin-top: 19px; margin-bottom: 15px;"></div>
      <div style="font-family: 'poppins'; font-size: 20px; font-weight: 600; word-wrap: break-word; color: black;">
        Contributors
      </div>
      <div style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 400; word-wrap: break-word;">
        Size
      </div>
      <div style="width: 100%; height: 1px; border: 1px #A3A3A3 solid; margin-top: 19px; margin-bottom: 15px;"></div>
      <div style="font-family: 'poppins'; font-size: 20px; font-weight: 600; word-wrap: break-word; color: black;">
        Stars
      </div>
      <div
        style="font-family: 'Montserrat', sans-serif; font-size: 17px; font-weight: 400; word-wrap: break-word; margin-bottom: 49px;">
        Size
      </div>
    </div>
    <!-- Sidebar End -->

    <div style="width: 100%; height: 100%; position: relative">
      <a href="{% url 'developer_statistic' %}">
        <div
          style="width: 234px; height: 47px; right: 144px; top: 0px; position: absolute; background: black; border-radius: 10px; border: 1px #A3A3A3 solid; padding-top: 10px; padding-left: 23px;">
          <div
            style="color: white; font-size: 20px; font-family: 'Montserrat', sans-serif; font-weight: 600; word-wrap: break-word; ">
            Developers Activity
          </div>
        </div>
      </a>
    </div>

    <!-- Graph Start -->
    <div style="margin-top: 47px; left: 409px; position: absolute;">
      <div
        style="width: 887px; height: 765px; border-radius: 14px; border: 1px #A3A3A3 solid; margin-top: 24px; margin-bottom: 56px; padding-top: 27px; padding-right: 52px; padding-bottom: 65px;">
        <div style="display: flex; align-items: center;">
          <div
            style="width: 152px; height: 47px; border-radius: 10px; border: 1px #A3A3A3 solid; padding-left: 20px; padding-top: 10px; margin-left: 39px;">
            <div
              style="font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 600; word-wrap: break-word; display: flex; align-items: center;">
              Commit
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-4 h-4 mt-1 ms-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
            </div>
          </div>
          <div
            style="width: 198px; height: 47px; right: 40px; position: absolute; border-radius: 10px; border: 1px #A3A3A3 solid; padding-left: 20px; padding-top: 10px;">
            <div
              style="font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 600; word-wrap: break-word; display: flex; align-items: center;">
              Monthly (2020)
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-4 h-4 mt-1 ms-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
              </svg>
            </div>
          </div>
        </div>
        <div
          style="font-family: 'poppins'; font-size: 12px; font-weight: 400; word-wrap: break-word; color: #969696; margin-top: 12.5px; margin-left: 39px;">
          Lorem ipsum dolor sit amet, consectetur
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 46px;">
          <div style="width: 100%; height: 100%">
            <span
              style="color: black; font-size: 16px; font-family: 'Poppins'; font-weight: 400; word-wrap: break-word; margin-left: 39px;">Last
              Week </span>
            <span
              style="color: #37D159; font-size: 16px; font-family: 'Poppins'; font-weight: 400; word-wrap: break-word">
              10</span>
          </div>
          <div style="display: flex; align-items: flex-start;">
            <div
              style="font-family: 'poppins'; font-size: 28px; font-weight: 400; word-wrap: break-word; color: black; margin-right: 10px;">
              10
            </div>
            <div
              style="font-family: 'poppins'; font-size: 22px; font-weight: 400; word-wrap: break-word; color: #37D159;">
              1%
            </div>
            <div
              style="width: 30px; height: 30px; border: 1px #A3A3A3 solid; padding-top: 1px; padding-left: 7px; margin-left: 3px;">
              <i class="fa fa-caret-up" style="font-size:26px; color: #37D159;"></i>
            </div>
          </div>
        </div>
        <canvas id="myChart" style="width: 600px; border-radius: 10px 10px 0 0; margin-top: 92px;">
          <div class="bar" style="border-top-left-radius: 10px; border-top-right-radius: 10px;"></div>
          <div class="bar" style="border-top-left-radius: 10px; border-top-right-radius: 10px;"></div>
        </canvas>
      </div>
    </div>
    <!-- Graph End  -->
  </div>
  <!-- Content End -->




  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const dropdownButton = document.querySelector(".group");
      const dropdownMenu = document.querySelector(".absolute");

      dropdownButton.addEventListener("click", function () {
        dropdownMenu.classList.toggle("hidden");
      });
    });

    const xArray = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    const ctx = document.getElementById("myChart").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: xArray,
        datasets: [
          {
            label: 'below',
            backgroundColor: "black",
            borderColor: "rgba(0,0,0, 1)",
            data: [200, 250, 400, 800, 900, 750, 500, 600, 700, 220, 320, 420],
            borderWidth: 2,
            borderHeight: 10,
            barThickness: 20,
            borderSkipped: 20,
            borderRadius: 10,
            barPercentage: 0.9,
            categoryPercentage: 1.0,
          },
          {
            label: 'above',
            backgroundColor: "rgba(163, 163, 163, 0.3)",
            borderColor: "rgba(0, 0, 0, 0.3)",
            data: [1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000],
            borderWidth: 2,
            borderHeight: 10,
            barThickness: 20,
            borderSkipped: 20,
            borderRadius: 10,
            barPercentage: 0.9,
            categoryPercentage: 1.0,
          },
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            suggestedMin: 0,
            suggestedMax: 1000,
            stacked: false,
          },
          x: {
            stacked: true,
          },
        },
        plugins: {
          legend: {
            display: false,
          }
        },
        responsive: true
      }
    });
  </script>
</body>

</html>