{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Detail Repository</title>
  {% tailwind_css %}
</head>

<body>
  <!-- Navbar Start -->
  {% block section %}
  {% include "component/navbar_logged.html" %}
  {% endblock %}
  <!-- Navbar End -->
  <!-- Content Start -->
  <div class="absolute">
    <div class=" mt-36 mx-32">
      <div class=" text-gray-500 font-semibold text-sm">
        <a href="#" class="text-sm font-normal text-gray-500 hover:text-gray-900"><i
            class="fa fa-arrow-left text-base"></i> back </a>
        <div class="text-gray-700 font-bold text-xl mt-4">
          {{ details.Repository_Name }}
        </div>
        <div class="text-black font-normal text-sm mt-2">
          Owned by: {{ details.Owner_Name }}
        </div>
        <div class="bg-gray-300 h-px my-7 w-full"></div>
      </div>
    </div>
  
  
  <div class="flex flex-row">
     <!-- Sidebar Start -->
    <div class="sidebar mr-6">
      <div class="flex flex-col ml-32">
        <div class="font-semibold text-xl mb-5 ">
          About
        </div>
        <div class="text-gray-500 text-sm">
          {{ details.About }}
        </div>
        <hr class="mt-5">
        <div class="font-semibold text-xl mb-5 mt-4">
          <ul>
            {% for lang, percentage in details.Languages.items %}
                <li>{{ lang }}: {{ percentage }}</li>
            {% endfor %}
          </ul>
        </div>
        <hr class="mt-5">
        <div class="font-semibold text-xl  mt-4">
          File Size
        </div>
        <div class="font-normal ">
          {{ details.File_Size }} KB
        </div>
        <hr class="mt-5"> 
        <div class="font-semibold text-xl  mt-4">
          Date Created
        </div>
        <div class="font-normal ">
          {{ details.Date_Created }}
        </div>
        <hr class="mt-5"> 
        <div class="font-semibold text-xl  mt-4">
          Topics
        </div>
        <div class="font-normal ">
          {% for topic in details.Topics %}{{ topic }} {% endfor %}
        </div>
        <hr class="mt-5"> 
        <div class="font-semibold text-xl  mt-4">
          Branch
        </div>
        <div class="font-normal ">
          {{ details.Branch }}
        </div>
        <hr class="mt-5"> 
        <div class="font-semibold text-xl  mt-4">
          Contributors
        </div>
        <div class="font-normal ">
          {% for contributor in details.Contributors %}{{ contributor }} {% endfor %}
        </div>
        <hr class="mt-5"> 
        <div class="font-semibold text-xl  mt-4">
          Stars
        </div>
        <div class="font-normal ">
          {{ details.Stars }}
        </div>
        <hr class="mt-5"> 
      </div>
    </div>
    <!-- Sidebar End -->
    
    <div class="content w-full mr-32 ">
      <a  href="{% url 'developer_statistic' repository_id %}" class="flex flex-row justify-end mb-6">
        <div class="bg-black text-white rounded items-center  px-5 font-semibold py-2">
          Developers Activity
        </div>
      </a>
     <!-- Graph Start -->
    <div class="border-gray-400 border-2 rounded-xl p-6">
      <div class="flex flex-row justify-between mb-11">
        <div class="flex flex-col">
          <div class="drop2" id="commitDropdown">
            <button class=" flex flex-row  px-5 py-1 border-gray-400 border-2 rounded-xl w-fit">
              <div class="font-bold text-sm mt-1" id="selectedChartType">
                Commit
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                <path d="M7.56119 11.6105L15.1224 19.3508L22.6836 11.6105" stroke="#363062" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <div  class="menu2 absolute hidden bg-white rounded-lg shadow w-36 border-2 border-gray-500 mt-1 " id="commitDropdownMenu">
              <div  class="block px-4 py-3 text-md font-medium hover:bg-gray-700  dark:hover:bg-gray-600 dark:hover:text-white" onclick="changeChartType('commit')"> Commit</div>
              <div class="block px-4 py-3 text-md font-medium hover:bg-gray-700  dark:hover:bg-gray-600 dark:hover:text-white" onclick="changeChartType('pullRequest')"> Pull Request</div>
            </div>
          </div>
        </div>
          <div class="kosong">
          
          </div>
          <div class="drop relative">
            <button class=" flex flex-row  px-5 py-1 border-gray-400 border-2 rounded-full">
              <div id="selectedYear" class="font-bold text-sm mt-1">
                Monthly (2023)
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                <path d="M7.56119 11.6105L15.1224 19.3508L22.6836 11.6105" stroke="#363062" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <div  class="menu absolute hidden bg-white rounded-lg shadow w-36 border-2 border-gray-500 mt-1 " id="dropdownMenu">
              <div   onclick="changeYear(2017)"class="block px-4 py-3 text-md font-medium hover:bg-gray-700  dark:hover:bg-gray-600 dark:hover:text-white"> 2017</div>
              <div   onclick="changeYear(2018)" class="block px-4 py-3 text-md font-medium hover:bg-gray-700  dark:hover:bg-gray-600 dark:hover:text-white"> 2018</div>
              <div   onclick="changeYear(2019)" class="block px-4 py-3 text-md font-medium hover:bg-gray-700  dark:hover:bg-gray-600 dark:hover:text-white"> 2019</div>
              <div   onclick="changeYear(2020)" class="block px-4 py-3 text-md font-medium hover:bg-gray-700  dark:hover:bg-gray-600 dark:hover:text-white"> 2020</div>
              <div   onclick="changeYear(2021)" class="block px-4 py-3 text-md font-medium hover:bg-gray-700  dark:hover:bg-gray-600 dark:hover:text-white"> 2021</div>
              <div   onclick="changeYear(2023)" class="block px-4 py-3 text-md font-medium hover:bg-gray-700  dark:hover:bg-gray-600 dark:hover:text-white"> 2023</div>
            </div>
          </div>
          </div>
          <div class="flex flex-row justify-between mb-10">
              <div class="text-base font-bold">
                Last Week <span class="text-green-500">10</span>
              </div>
            <div class="kosong">

            </div>
            <div class="flex flex-row">
              <div class="text-base font-bold flex flex-row">
                10 <span class="text-green-500">1%</span> 
                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="32" viewBox="0 0 31 32" fill="none">
                  <rect x="-0.5" y="-0.5" width="29.9612" height="29.2448" transform="matrix(-4.27e-08 -1 -1 4.47468e-08 30.0015 30.7673)" stroke="#A3A3A3"/>
                  <path d="M8.31802 20.1569L15.8792 12.4166L23.4404 20.1569" fill="#37D159"/>
                </svg>
              </div>
            </div>
          </div>
          
        <canvas id="myChart"> </canvas>
    </div>
      <!-- Graph End  -->
        </div>
      </div>
  <!-- Content End -->
</div>



  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const dropdownButton = document.querySelector(".group");
      const dropdownMenu = document.querySelector(".absolute");
      dropdownButton.addEventListener("click", function () {
        dropdownMenu.classList.toggle("hidden");
      });
    });
    document.addEventListener("DOMContentLoaded", function () {
      const dropdownButton = document.querySelector(".drop");
      const dropdownMenu = document.querySelector(".menu");
      updateChart(2023);
      dropdownButton.addEventListener("click", function () {
        dropdownMenu.classList.toggle("hidden");
        if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
          dropdownMenu.classList.add('hidden');
    }
      });
    });
    document.addEventListener("DOMContentLoaded", function () {
    const commitDropdownButton = document.querySelector(".drop2");
    const commitDropdownMenu = document.querySelector(".menu2");

     commitDropdownButton.addEventListener("click", function () {
        commitDropdownMenu.classList.toggle("hidden");
       });
    });

function changeChartType(chartType) {
  const chartTypeLabel = chartType === 'commit' ? 'Commit' : 'Pull Request';
  document.getElementById('selectedChartType').textContent = chartTypeLabel;
  document.getElementById('selectedYear').textContent = `Monthly (2023)`;

  if (chartType === 'commit') {
    updateChart(2023);
  } else if (chartType === 'pullRequest') {
    ChartPullReq(2023);
  }
}


    function changeYear(year) {
    document.getElementById('selectedYear').textContent = `Monthly (${year})`;
    document.getElementById('dropdownMenu').classList.add('hidden');
    
    
    updateChart(year);
  }
  function updateChart(selectedYear) {
    const ctx = document.getElementById("myChart").getContext("2d");
    const existingChart = Chart.getChart(ctx);
    if (existingChart) {
      existingChart.destroy();
    }
    const commitData = JSON.parse('{{ details.CountCommit|safe }}');
    const datasets = [];

    var labels = [
      { label: "Jan", value: `${selectedYear}-01` },
      { label: "Feb", value: `${selectedYear}-02` },
      { label: "Mar", value: `${selectedYear}-03` },
      { label: "Apr", value: `${selectedYear}-04` },
      { label: "May", value: `${selectedYear}-05` },
      { label: "Jun", value: `${selectedYear}-06` },
      { label: "Jul", value: `${selectedYear}-07` },
      { label: "Aug", value: `${selectedYear}-08` },
      { label: "Sep", value: `${selectedYear}-09` },
      { label: "Oct", value: `${selectedYear}-10` },
      { label: "Nov", value: `${selectedYear}-11` },
      { label: "Dec", value: `${selectedYear}-12` }
    ];

    datasets.push({
        label: 'Total Commits',
        backgroundColor: "black",
        borderColor: "rgba(0,0,0, 1)",
        data: labels.map(entry => commitData[entry.value]?.total || 0),
        borderWidth: 2,
        barThickness: 20,
        barPercentage: 0.9,
        categoryPercentage: 1.0,
    });

    
    const contributors = Object.values(commitData)[0].contributors; 
    for (const contributor in contributors) {
        datasets.push({
            label: contributor,
            backgroundColor: getRandomColor(),
            data: labels.map(entry => commitData[entry.value]?.contributors[contributor] || 0),
            borderWidth: 2,
            barThickness: 20,
            barPercentage: 0.9,
            categoryPercentage: 1.0,
        });
    }
    new Chart(ctx, {
      type: "bar",
      data: {
        labels: labels.map(entry => entry.label),
        datasets: datasets
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            stacked: false,
          },
          x: {
            stacked: true,
          },
        },
        plugins: {
          legend: {
            display: false,
          }
        },
        responsive: true
      }
    });
}

  function getRandomColor() {
    const letters = '0123456789ABCDEF';
    let color = '#';
    for (let i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

function ChartPullReq(selectedYear){
  const ctx = document.getElementById("myChart").getContext("2d");
    const existingChart = Chart.getChart(ctx);
    if (existingChart) {
      existingChart.destroy();
    }
    const pullreqData = JSON.parse('{{ details.CountPullreq|safe }}');
    const datasets = [];
    var labels = [
      { label: "Jan", value: `${selectedYear}-01` },
      { label: "Feb", value: `${selectedYear}-02` },
      { label: "Mar", value: `${selectedYear}-03` },
      { label: "Apr", value: `${selectedYear}-04` },
      { label: "May", value: `${selectedYear}-05` },
      { label: "Jun", value: `${selectedYear}-06` },
      { label: "Jul", value: `${selectedYear}-07` },
      { label: "Aug", value: `${selectedYear}-08` },
      { label: "Sep", value: `${selectedYear}-09` },
      { label: "Oct", value: `${selectedYear}-10` },
      { label: "Nov", value: `${selectedYear}-11` },
      { label: "Dec", value: `${selectedYear}-12` }
    ];

    datasets.push({
        label: 'Total Commits',
        backgroundColor: "black",
        borderColor: "rgba(0,0,0, 1)",
        data: labels.map(entry => pullreqData[entry.value]?.total || 0),
        borderWidth: 2,
        barThickness: 20,
        barPercentage: 0.9,
        categoryPercentage: 1.0,
    });

    
    const contributors = Object.values(pullreqData)[0].contributors; 
    for (const contributor in contributors) {
        datasets.push({
            label: contributor,
            backgroundColor: getRandomColor(),
            data: labels.map(entry => pullreqData[entry.value]?.contributors[contributor] || 0),
            borderWidth: 2,
            barThickness: 20,
            barPercentage: 0.9,
            categoryPercentage: 1.0,
        });
    }
    new Chart(ctx, {
      type: "bar",
      data: {
        labels: labels.map(entry => entry.label),
        datasets: datasets
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            stacked: false,
          },
          x: {
            stacked: true,
          },
        },
        plugins: {
          legend: {
            display: false,
          }
        },
        responsive: true
      }
    })
}
  </script>
</body>

</html>