{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>Detail Repository</title>
  {% tailwind_css %}
</head>

<body>
  <!-- Navbar Start -->
  {% block section %}
  {% include "component/navbar_logged.html" %}
  {% endblock %}
  <!-- Navbar End -->
  <!-- Content Start -->
  <div class="absolute">
    <div class=" mt-36 mx-auto w-4/5">
      <div class=" text-gray-500 font-semibold text-sm">
        <a href="#" class="text-sm font-normal text-gray-500 hover:text-gray-900"><i
            class="fa fa-arrow-left text-base"></i> back </a>
        <div class="text-gray-700 font-bold text-xl mt-4">
          {{ details.Repository_Name }}
        </div>
        <div class="text-black font-normal text-sm mt-2">
          Owned by: {{ details.Owner_Name }}
        </div>
        <div class="bg-gray-300 h-px my-7 w-full"></div>
      </div>
    </div>
  
  
  <div class="flex flex-row">
     <!-- Sidebar Start -->
    <div class="sidebar mr-6">
      <div class="flex flex-col ml-32">
        <div class="font-semibold text-xl mb-5 ">
          About
        </div>
        <div class="text-gray-500 text-sm">
          {{ details.About }}
        </div>
        <hr class="mt-5">
        <div class="font-semibold text-xl mb-5 mt-4">
          {{ details.Languages }}
        </div>
        <div class="flex flex-col">
          <div class="flex flex- mb-2 mr-6">
            <img class="mr-2 "src="{% static 'images/css.png' %}" alt="">
            <div class="font-semibold mr-14">
              CSS
            </div>
            <div class="text-gray-500 font-semibold">
              20%
            </div>
          </div>
          <div class="flex flex- mb-2 mr-6">
            <img class="mr-2 "src="{% static 'images/html.png' %}" alt="">
            <div class="font-semibold mr-10">
              HTML
            </div>
            <div class="text-gray-500 font-semibold">
              30%
            </div>
          </div>
          <div class="flex flex- mb-2 mr-6">
            <img class="mr-2 "src="{% static 'images/js.png' %}" alt="">
            <div class="font-semibold mr-3">
              JavaScript
            </div>
            <div class="text-gray-500 font-semibold">
              10%
            </div>
          </div>
          <div class="flex flex- mb-2 mr-6">
            <img class="mr-2 w-6 h-6 "src="{% static 'images/python.png' %}" alt="">
            <div class="font-semibold mr-8">
              Python
            </div>
            <div class="text-gray-500 font-semibold">
              40%
            </div>
          </div>
        </div>
        <hr class="mt-5">
        <div class="font-semibold text-xl  mt-4">
          File Size
        </div>
        <div class="font-normal ">
          {{ details.File_Size }} KB
        </div>
        <hr class="mt-5"> 
        <div class="font-semibold text-xl  mt-4">
          Date Created
        </div>
        <div class="font-normal ">
          {{ details.Date_Created }}
        </div>
        <hr class="mt-5"> 
        <div class="font-semibold text-xl  mt-4">
          Topics
        </div>
        <div class="font-normal ">
          {% for topic in details.Topics %}{{ topic }} {% endfor %}
        </div>
        <hr class="mt-5"> 
        <div class="font-semibold text-xl  mt-4">
          Branch
        </div>
        <div class="font-normal ">
          {{ details.Branch }}
        </div>
        <hr class="mt-5"> 
        <div class="font-semibold text-xl  mt-4">
          Contributors
        </div>
        <div class="font-normal ">
          {% for contributor in details.Contributors %}{{ contributor }} {% endfor %}
        </div>
        <hr class="mt-5"> 
        <div class="font-semibold text-xl  mt-4">
          Stars
        </div>
        <div class="font-normal ">
          {{ details.Stars }}
        </div>
        <hr class="mt-5"> 
      </div>
    </div>
    <!-- Sidebar End -->
    <div class="content w-full mr-32 ">
     
      <a  href="{% url 'developer_statistic' repository_id %}" class="flex flex-row justify-end mb-6">
        <div class="bg-black text-white rounded items-center  px-5 font-semibold py-2">
          Developers Activity
        </div>
      </a>
     <!-- Graph Start -->
    <div class="border-gray-400 border-2 rounded-xl p-6">
      <div class="flex flex-row justify-between mb-11">
        <div class="flex flex-col">
          <div class="drop2">
            <button class=" flex flex-row  px-5 py-1 border-gray-400 border-2 rounded-xl w-fit">
              <div class="font-bold text-sm mt-1">
                Commit
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                <path d="M7.56119 11.6105L15.1224 19.3508L22.6836 11.6105" stroke="#363062" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <div  class="menu2 absolute hidden bg-white rounded-lg shadow w-36 border-2 border-gray-500 mt-1 " id="dropdownMenu">
              <div  class="block px-4 py-3 text-md font-medium hover:bg-gray-700  dark:hover:bg-gray-600 dark:hover:text-white"> idk</div>
              <div class="block px-4 py-3 text-md font-medium hover:bg-gray-700  dark:hover:bg-gray-600 dark:hover:text-white"> idk</div>
            </div>
          </div>
          <div class="text-gray-500 font-semibold text-xs">
            Lorem ipsum dolor sit amet, consectetur
          </div>
        </div>
          <div class="kosong">
          
          </div>
          <div class="drop relative">
            <button class=" flex flex-row  px-5 py-1 border-gray-400 border-2 rounded-full">
              <div class="font-bold text-sm mt-1">
                Monthly (2020)
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                <path d="M7.56119 11.6105L15.1224 19.3508L22.6836 11.6105" stroke="#363062" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <div  class="menu absolute hidden bg-white rounded-lg shadow w-36 border-2 border-gray-500 mt-1 " id="dropdownMenu">
              <div  class="block px-4 py-3 text-md font-medium hover:bg-gray-700  dark:hover:bg-gray-600 dark:hover:text-white"> 2021</div>
              <div class="block px-4 py-3 text-md font-medium hover:bg-gray-700  dark:hover:bg-gray-600 dark:hover:text-white"> 2023</div>
            </div>
          </div>
          </div>
          <div class="flex flex-row justify-between mb-10">
              <div class="text-base font-bold">
                Last Week <span class="text-green-500">10</span>
              </div>
            <div class="kosong">

            </div>
            <div class="flex flex-row">
              <div class="text-base font-bold flex flex-row">
                10 <span class="text-green-500">1%</span> 
                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="32" viewBox="0 0 31 32" fill="none">
                  <rect x="-0.5" y="-0.5" width="29.9612" height="29.2448" transform="matrix(-4.27e-08 -1 -1 4.47468e-08 30.0015 30.7673)" stroke="#A3A3A3"/>
                  <path d="M8.31802 20.1569L15.8792 12.4166L23.4404 20.1569" fill="#37D159"/>
                </svg>
              </div>
            </div>
          </div>
          
        <canvas id="myChart" class="rounded">
          <div class="bar" style="border-top-left-radius: 10px; border-top-right-radius: 10px;"></div>
          <div class="bar" style="border-top-left-radius: 10px; border-top-right-radius: 10px;"></div>
        </canvas>
    </div>
      <!-- Graph End  -->
        </div>
      </div>
  <!-- Content End -->
</div>



  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const dropdownButton = document.querySelector(".group");
      const dropdownMenu = document.querySelector(".absolute");

      dropdownButton.addEventListener("click", function () {
        dropdownMenu.classList.toggle("hidden");
      });
    });
    document.addEventListener("DOMContentLoaded", function () {
      const dropdownButton = document.querySelector(".drop");
      const dropdownMenu = document.querySelector(".menu");

      dropdownButton.addEventListener("click", function () {
        dropdownMenu.classList.toggle("hidden");
      });
    });
    document.addEventListener("DOMContentLoaded", function () {
      const dropdownButton = document.querySelector(".drop2");
      const dropdownMenu = document.querySelector(".menu2");

      dropdownButton.addEventListener("click", function () {
        dropdownMenu.classList.toggle("hidden");
      });
    });

    const xArray = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    const ctx = document.getElementById("myChart").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: xArray,
        datasets: [
          {
            label: 'below',
            backgroundColor: "black",
            borderColor: "rgba(0,0,0, 1)",
            data: [200, 250, 400, 800, 900, 750, 500, 600, 700, 220, 320, 420],
            borderWidth: 2,
            borderHeight: 10,
            barThickness: 20,
            borderSkipped: 20,
            borderRadius: 10,
            barPercentage: 0.9,
            categoryPercentage: 1.0,
          },
          {
            label: 'above',
            backgroundColor: "rgba(163, 163, 163, 0.3)",
            borderColor: "rgba(0, 0, 0, 0.3)",
            data: [1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000, 1000],
            borderWidth: 2,
            borderHeight: 10,
            barThickness: 20,
            borderSkipped: 20,
            borderRadius: 10,
            barPercentage: 0.9,
            categoryPercentage: 1.0,
          },
        ]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
            suggestedMin: 0,
            suggestedMax: 1000,
            stacked: false,
          },
          x: {
            stacked: true,
          },
        },
        plugins: {
          legend: {
            display: false,
          }
        },
        responsive: true
      }
    });
  </script>
</body>

</html>